.home_img{
    width: 100%;
}

.home_content {
    position: relative;
    padding-top: 32px;
    width: 1150px;
}

.home_text {
    position: absolute;
    top: 0px;
    left: 30px;
    width: 573.169px;
    height: 228.49px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 96px */
    letter-spacing: 0.5px;
    padding-top: 258px;
    padding-left: 48px;
  
}










